/* Style pour la liste des actions */
ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

.action-details {
  flex: 1;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

/* Style pour les boutons d'action */
button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

/* Style pour le formulaire d'ajout d'action */
form {
  max-width: 400px;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #495057;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Ajout d'espace entre Recherche et Filtrer par statut */
div label {
  margin-bottom: 10px; /* Ajoutez la marge inférieure souhaitée (par exemple, 10px) */
}
div:not(:first-child) {
  margin-top: 10px; /* Ajoutez la marge supérieure souhaitée (par exemple, 10px) */
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}


  